<!DOCTYPE html>
<html>

<!-- head -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="https://scholars.cs.usfca.edu/images/favicon.ico" type="image/x-icon">

<title>{{ site.title }}</title>

<link rel="stylesheet" href="https://scholars.cs.usfca.edu/css/main.css">
<link rel="stylesheet" href="https://scholars.cs.usfca.edu/css/all.min.css">

<style>
ul.icons {
  list-style-type: none;
  margin-left: 1.5em;
  margin-top: 0em;
}

ul.icons > li {
  position: relative;
}

ul.icons > li > i {
  width: 1.25em;
  left: -1.5em;
  position: absolute;
  text-align: center;
  line-height: inherit;
}

.content li.bump {
  margin-top: 0.8rem;
}

strong {
  color: inherit;
}

.strong {
  font-weight: bolder;
  color: inherit;
}

[class^=has-text] a {
  color: inherit;
}
</style>
</head>

<!-- body -->
<body>

{% include header.html %}

{% include navbar.html %}

<section class="section">
  <div class="container">

    <h2 class="title is-2">{{ page.title }}</h2>

    <!-- content -->
    <div class="content">

      {{ content }}

    </div>
    <!-- end content -->

  </div>
</section>

{% include footer.html %}

<!-- end -->
</body>
</html>
